<!DOCTYPE html>
<html>
    <head><title>contact</title>
    <link rel="stylesheet" href="../static/contact.css">
    </head>
    <body>
        <div>
          <nav class="navigation">
            <div class="logo">
                <img src="../static/img/thumbnail_logo.png" alt="logo">
            </div>
            <ul class="menu">
                <li><a href="http://127.0.0.1:5000/">Menu</a></li>
                <li><a href="http://127.0.0.1:5000/deals">Deals</a></li>
                <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
                <li><a href="http://127.0.0.1:5000/finished">Finished</a></li>
              </ul>
          </nav>
          <div class="menufood">
            <div class="heading">
              <h1>Mario's and Luigi's Pizzaria</h1>
              <h3>&mdash; CONTACT &mdash;</h3>
            </div>
            </div>
               
              <div class="contact">
                <ul>
                    <h5>Contact information</h5>
                    <p>Phone number: +31 06 7890 8291 </p>
                    <p> E-mail: marioluigipizzeria@gmail.com</p>
                    <br>
                    <h5>Opening hours</h5>
                    <p>Monday-Friday: 11 a.m. to 10 p.m.</p>
                    <p>Saturday: Closed</p>
                    <p>Sunday: 5 p.m. to 11 p.m.</p>
                    <br>
                    <h4 class="about">About us</h4>
                    <p> Welcome to Mario and Luigi's pizzeria. We are two brothers born and raised in Italy.</br>
                        We have over 20 years experience and  who brought authentic Italian cuisine to this area
                    </p>
                    <h4>Location</h4>
                    <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127591.73873234814!2d45.224262839859925!3d2.0591986722261826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3d58425955ce6b53%3A0xbb20eaaa52cc59d9!2sMogadishu%2C%20Somali%C3%AB!5e0!3m2!1snl!2snl!4v1681200015484!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
                </ul>
              </div>
             
        </div>
    </body>
</html>