<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="=viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <title>Deals</title>
        <link rel="stylesheet" href="../static/deals.css">
    </head>
    <body>
      <div>

        <nav class="navigation">
          <div class="logo">
              <img src="../static/img/thumbnail_logo.png" alt="logo">
          </div>
          <ul class="menu">
              <li><a href="http://127.0.0.1:5000/">Menu</a></li>
              <li><a href="http://127.0.0.1:5000/deals">Deals</a></li>
              <li><a href="http://127.0.0.1:5000/contact">Contact</a></li>
              <li><a href="http://127.0.0.1:5000/finished">Finished</a></li>
            </ul>
           
        </nav>

        <div class="menufood">
          <div class="heading">
            <h1>Mario's and Luigi's Pizzaria</h1>
            <h3>&mdash;Deals&mdash;</h3>
          </div>
        </div>
        
      <div class="wrapper">
        <div class="title">
          <h4>our deals</h4>

        </div>
        <div class="menu">
          <div class="itemmenu">
            <img src="../static/img/first.jpg" alt="pizza">
            <div class="menu-content">
              <h4>Pepperoni Pizza with drink of your choice <span class="span1"></span></h4>
              <p> Order 2 Pepperoni Pizzas and get <span class="span1">2 free</span> drinks of your choice.</p>
            </div>
          </div>
          <div class="itemmenu">
            <img class="icecream"src="../static/img/icecream.jpg" alt="ice cream">
            <div class="menu-content">
              <h4>Free Desert</h4>
              <p> Children 11 and under get a <span class="span1">free</span> desert of choice.</p>
            </div>
          </div><div class="itemmenu">
            <img src="../static/img/icecreampizza.jpg" alt=" ice cream and pizza">
            <div class="menu-content">
              <h4> Pizza and dessert for 20% off</h4>
              <p> Order a pizza and dessert meal to get <span class="span1">20% off.</span></p>
            </div>
          </div><div class="itemmenu">
            <img src="../static/img/pizzastoneoven1.webp" alt="stoneoven">
            <div class="menu-content">
              <h4>Get <span class="span1">20%</span> All Pizzas </h4>
              <p> This special is only on sunday. </p>
            </div>
          </div><div class="itemmenu">
            <img src="../static/img/stoneoven.jpg" alt="stoneoven">
            <div class="menu-content">
              <h4> Get<span class="span1"> $5 discount</span> off your order</h4>
              <p> Place your order befor 3 p.pm and get $5 off of your order.</p>
            </div>
          </div><div class="itemmenu">
            <img src="../static/img/2pizza.jpg" alt="2 pizza">
            <div class="menu-content">
              <h4>Buy <span class="span1">1</span> get <span class="span1"> 1 free.</span></h4>
              <p> Buy 1 pizza durring happy hour on friday and get an other pizza for free.</p>
            </div>
          
          </div>

        </div>
      </div>
        
    </body>
</html>