<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="=viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <title>Deals</title>
        <link rel="stylesheet" href="../static/finishedOrders.css">
        <script>
            setInterval(function() {
                location.reload();
            }, 2000)
        </script>
    </head>

    <body>
        <h1>Finished pizzas</h1>

        {% for pizza in finishedList %}
        <p><b>{{pizza}}</b></p>

        {% endfor %}

    </body>
</html>